.modal-visible {
    visibility: visible;
    opacity: 1;
}

.modal-hidden {
    visibility: hidden;
    opacity: 0;
}

ListItem {
    padding: 1;
}

.selected-task {
    border-left: thick rgb(168, 184, 255);
    background: rgb(102, 46, 152);
}

.move-mode {
    background: rgb(53, 27, 83);
}

